reddit_credentials.txt
kafka_credentials.txt
mongo_credentials.txt
kafka resource.txt

.venv/
venv/
env/

.vscode/
.idea/

*.log

*.zip

*.docx
*.pdf 

test.py
reddit_fetch.py
import sqlite3.py

iteration*.pdf
*_old.py
*_backup.py

*.key
*.env
.streamlit/
